$primary-font-stack: "Open Sans";

$primary-bg-color: #e3eaec;

$primary-text-color: #403e3e;

$green-btn: #00a042;
$blue-btn: #006d9e;
$purple-btn: #9e1679;
$orange-btn: #de3c16;

$desktop-sm-bp: 1024px;
$desktop-md-bp: 1440px;
$desktop-lg-bp: 1680px;
