$primary-font-stack: "Open Sans";

$primary-bg-color: #e3eaec;

$primary-text-color: #403e3e;

$primary-text-gradient: linear-gradient(
  135deg,
  rgba(223, 67, 7, 1) 10%,
  rgba(223, 67, 7, 1) 25%,
  rgba(171, 79, 135, 1) 36%,
  rgba(69, 125, 171, 1) 59%,
  rgba(69, 125, 171, 1) 60%,
  rgba(61, 165, 107, 1) 70%,
  rgba(61, 165, 107, 1) 100%
);

$green-btn: #00a042;
$blue-btn: #006d9e;
$purple-btn: #9e1679;
$orange-btn: #de3c16;
$pink-btn: #ec2fc1;

$tablet-bp: 768px;

$desktop-sm-bp: 1279px;
$desktop-md-bp: 1440px;
$desktop-lg-bp: 1680px;

$landscape-bp: 568px;
$laptop-sm-bp: 1024px;
