.back-btn {
  @include text($color: #3b4f55, $font-size: calc(11px + 0.5vw));
  padding-left: 1.2em;
  display: inline-block;
  position: absolute;
  z-index: 5;
  top: 4%;
  left: 2%;

  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 15%;
    left: 0;
    width: 15px;
    height: 15px;
    transform: rotate(-180deg);
    background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26.5 43.8'%3E%3Cstyle%3E .st0%7Bfill:%233b4f55%7D %3C/style%3E%3Cpath transform='rotate(45.001 13.258 13.257)' class='st0' d='M-1.7 9.5h30V17h-30z'/%3E%3Cpath transform='rotate(-45.001 13.257 30.507)' class='st0' d='M-1.7 26.8h30v7.5h-30z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
