.bottles-list {
  display: flex;
  align-items: center;
  position: absolute !important;
  bottom: 15%;
  left: 0;
  width: 200px;

  @media (min-width: $desktop-sm-bp) {
    bottom: 50%;
    left: 50%;
    width: 1000px;
    transform: translate(-50%, 100%) !important;
  }
  @media (min-width: $desktop-md-bp) {
    width: 1200px;
  }

  li {
    position: unset !important;
    width: 100%;
    height: 100%;
    transition: 0.2s linear;

    & > img {
      width: 62%;
      margin: 0 auto;
      @media (min-width: $desktop-md-bp) {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.bottles__slide {
  top: 50%;
  transform: translateY(120%);
  @media (min-width: $desktop-sm-bp) {
    display: none;
  }
}
