@import "../helpers/variables";
.footer {
  background-image: url("../images/about-products/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $primary-bg-color;
  padding: 1.5em;

  &__inner {
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & > img {
      margin: 0 auto 110px;
    }
  }

  &__socials {
    display: flex;
    width: 295px;
    justify-content: space-between;
    align-items: center;
    &-item {
      width: 80px;
      height: 80px;
      cursor: pointer;
    }
  }
}
