.fruits {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  justify-content: space-between;
  width: 100%;
}

.fruits__left-list {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-15%, 15%) !important;
  li {
    position: unset !important;
    &:first-child {
      width: 80px;
      transform: translate(220%, 150%);
    }
    &:nth-child(2) {
      width: 140px;
      transform: translate(85%, 100%) rotate(60deg);
    }
    &:nth-child(3) {
      width: 250px;
      transform: translate(0, 30%);
    }
    &:nth-child(4) {
      width: 390px;
    }
  }
}

.fruits__right-list {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(20%, 15%) !important;
  li {
    position: unset !important;
    &:first-child {
      width: 80px;
      transform: translate(150%, 135%);
    }
    &:nth-child(2) {
      width: 140px;
      transform: translate(100%, 80%);
    }
    &:nth-child(3) {
      width: 210px;
      transform: translate(60%, 40%);
    }
    &:nth-child(4) {
      width: 390px;
    }
  }
}
