@import "./main-page.scss";
@import "../helpers/variables";
@import "../components/slider-control";
.product-page__main-screen {
  @extend .main-page__screen;

  @media (max-width: 567px) {
    height: 100vh;
  }
}

.product-page__inner {
  @extend .main-page__inner;
  background-image: url("../images/product-page/light-481.png");
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  @media (min-width: 375px) and (max-width: 400px),
    (min-width: 468px),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
    background-image: url("../images/product-page/light.png");
  }
}

.product-page__title-wrapper {
  text-align: center;
  margin: 5em 0 2em;

  @media (min-width: $desktop-sm-bp) {
    margin: 2em 0 4em;
  }
}

.product-page__title {
  @extend .main-screen__title;
  align-self: center;
  font-weight: 700;
  text-transform: uppercase;
  font-family: $primary-font-stack;
  font-size: calc(35px + 0.5vw);
  margin-bottom: 30px;
  background: rgb(61, 165, 107); /* Old browsers */

  background: linear-gradient(
    135deg,
    rgba(61, 165, 107, 1) 17%,
    rgba(61, 165, 107, 1) 36%,
    rgba(69, 125, 171, 1) 48%,
    rgba(171, 79, 135, 1) 52%,
    rgba(223, 67, 7, 1) 60%,
    rgba(223, 67, 7, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3da56b', endColorstr='#df4307',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media (min-width: $desktop-sm-bp) {
    font-size: calc(135px - 1vw);
  }
}

.product-page__vitamins {
  max-width: 60%;
  margin: 0 auto;
  display: flex;
  align-items: center;

  @media (max-width: 567px) {
    max-width: 100%;
  }

  @media (min-width: $desktop-sm-bp) {
    max-width: 38%;
    align-items: flex-end;
  }
}

.product-page__subtitle {
  @extend .main-screen__subtitle;
  text-transform: uppercase;
  top: 0;
  font-size: 11px;
  letter-spacing: 2px;
  @media (min-width: $desktop-sm-bp) {
    font-size: 23px;
  }
}

.product-page__fruits {
  @extend .main-page__fruits;
  height: 100%;

  & > ul:first-child {
    top: -20% !important;
    left: 0;
    width: 50%;
    height: 100%;
    li {
      position: absolute !important;
      &:first-child {
        width: 45%;
        top: -35% !important;
      }
      &:last-child {
        width: 25%;
        top: 10% !important;
        left: 50% !important;
      }
    }
  }
  & > ul:last-child {
    right: -10%;
    width: 50%;
    height: 100%;
    li {
      position: absolute !important;
      top: 0;
      &:first-child {
        width: 20%;
        top: -45% !important;
      }
      &:last-child {
        width: 40%;
        top: -20% !important;
      }
    }
  }
}

.product-page__about {
  @extend .main-page__screen;
}

.product-page__slider-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 2em;
  z-index: 20;

  & > button {
    font-size: 60px;
    cursor: pointer;
    color: #acacac;
    transition: 0.1s linear;

    &:hover {
      color: #464646;
    }
  }
}
